#!/usr/bin/env bash
#SBATCH --job-name="{cfg.casename}_{cfg.inidate_yyyymmddhh}_{cfg.forecasttime}"
#SBATCH --account={cfg.compute_account}
#SBATCH --chdir={cfg.icon_work}
#SBATCH --partition=normal
#SBATCH --time={cfg.icon_walltime} 
#SBATCH --constraint={cfg.constraint}
#SBATCH --nodes=1
#SBATCH --ntasks-per-core=1
#SBATCH --ntasks-per-node={cfg.ntasks_per_node}
#SBATCH --cpus-per-task=1
#SBATCH --output={logfile}
#SBATCH --open-mode=append
module load cray-netcdf
module load CDO
module load NCO

ulimit -s unlimited

set -x

export ECCODES_DEFINITION_PATH=/store/empa/em05/eccodes_definitions/definitions.edzw-2.12.5-2
export ECCODES_DEFINITION_PATH=$ECCODES_DEFINITION_PATH:/store/empa/em05/easybuild.backup/software/ecCodes/2.12.5-CrayGNU-20.08/share/eccodes/definitions
export ECCODES_DEFINITION_PATH=$ECCODES_DEFINITION_PATH:/project/g110/spack-install/daint/eccodes/2.19.0/pgi/6skdmw5lsn6mjv4esxkyalf6xogllshi/share/eccodes/definitions/
echo $ECCODES_DEFINITION_PATH

#-----------------------------------------------------------------------------
# PART I: Create auxiliary grid file which contains only the cells of the 
#         boundary zone.
#-----------------------------------------------------------------------------

cat > NAMELIST_ICONSUB_{cfg.inidate_yyyymmddhh} << EOF_1
&iconsub_nml
  grid_filename    = '{cfg.dynamics_grid_filename}',
  output_type      = 4,
  lwrite_grid      = .TRUE.,
/
&subarea_nml
  ORDER            = "{cfg.lateral_boundary_grid_order}",
  grf_info_file    = '{cfg.dynamics_grid_filename}',
  min_refin_c_ctrl = 1
  max_refin_c_ctrl = 14
/
EOF_1

srun -n 1 {cfg.iconsub_bin} \
          --nml NAMELIST_ICONSUB_{cfg.inidate_yyyymmddhh} 2>&1
#-----------------------------------------------------------------------------
# PART II: Extract boundary data
#-----------------------------------------------------------------------------

cdo selgrid,2 {cfg.lateral_boundary_grid_scratch} triangular-grid_00_lbc.nc

source /users/nponomar/myvenv/bin/activate
echo "Write to {cfg.icon_input_icbc}/file_list00"
echo "{datafile_list}" >> {cfg.icon_input_icbc}/file_list00
python /scratch/snx3000/nponomar/processing_chain_python/processing-chain/cases/VPRM_PARIS_22/remap_00_lbc.py "{cfg.remapping_method}" "{cfg.icon_input_icbc}" "{cfg.input_root_meteo}" "{cfg.icon_input_icbc}/file_list00" 